$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//FONTS
$primary-font: 'Poppins', sans-serif;
$secondary-font: "Merriweather", serif;

//LAYOUT 
$max-width-container: 1400px;
$container-padding: 64px;


//COLORS
$black: #2B2D38;
$pink: #DB2A6B;
$purple: #6E1FED;
$yellow: #F4B840;
$orange: #FF7E29;
$blue: #60D3D9;
$dark-grey: #FFFFFF40;
$grey: gray;
$white: #FFF;


//BORDER RADIUS
$radius-small: 12px;
$radius-medium: 32px;
$radius-large: 70px;

