@use '../abstracts/abstracts' as *;

.header {
    position: relative;
    z-index: 20;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }
    &__logo img {
        width: 200px;
        height: auto;
    }
}